/* .container .testimonial__container{
    width: 40%;
    padding-bottom: 4rem;
} */

.review_lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1100px;
  margin: 0 auto;
}
.review_list_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2c2c6c;
  max-width: 100%;
  padding: 1.3rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.client__avatar {
  width: 9rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid rgba(77, 181, 255, 0.4);
}

.client__review{
  color:  rgba(255, 255, 255, 0.6);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px !important;
  left: 0;
  width: 100%;
}

/* ----------------- MEDIA QUERIES (MEDIUM DEVICES) ------------------------*/

@media screen and (max-width: 1024px) {
  .container .testimonial__container {
    width: 60%;
  }
}

@media (max-width: 1135px) and (min-width: 640px) {
  .review_lists{
    max-width: 600px;
  }
}

@media (max-width: 640px) and (min-width: 320px) {
  .review_lists{
    max-width: 370px;
  }
}

  

/* ----------------- MEDIA QUERIES (SMALL DEVICES) ------------------------*/

@media screen and (max-width: 600px) {
  .container .testimonial__container {
    width: 80%;
  }
  .client__review {
    width: 100%;
  }
}
